	<div id="container" class="js-masonry">
	<% @articles.each do |article| %>
		<div id='artimg'>
		<a class='imglink' href='/articles/<%= article.id %>' original-title="<%= article.title %>">
		<img src="<%= article.img_url %>" width="350px">
		</a>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	var container = document.querySelector('#container');
	var msnry;
	imagesLoaded( container, function() {
	  msnry = new Masonry( container );
		$('.imglink').tipsy({gravity: 's'});
	});
</script>

