<html>
<head>
	<title></title>
</head>
<body>
	<% if @error %>
	<h1 style='color:red;'>Incorrect email and/or password</h1>
	<% end %>
	<h1>Welcome to the super duper awesome website by John, Mina, Tania and Umer. Don't break anything</h1>

	<form method='POST' action='/sessions/create'>
		<label>Email
			<input type='text' name='email'>
		<label>Password
			<input type='password' name='password'>

			<input name='authenticity_token' value='<%form_authenticity_token()%>' type='hidden'>

			<button>Login</button>

			<p>If you would like to sign up, click <a href='/users/new'>here</a></p>
	</form>
</body>
</html>