/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	background-color: #222222;
	font-family: Dosis;
	color: #CCCCCC;
	margin-left: 0px;
	margin-top: 0px}

#artimg img{
	margin-left: 5px}


div#comments{
	width: 600px;
	text-align: left;
	padding-bottom: 0px;}
#nameandtime{
	font-size: .80em;
	font-style: italic;
	line-height: .1;
	color: #CCCCCC}
#commenttext{
	padding-bottom: 10px;
	border-bottom: 1px red solid}


#subnameandtime{
	font-size: .80em;
	font-style: italic;
	line-height: .1;
	padding-top: 10px;
	color: #CCCCCC;
	margin-left: 40px}
#subcomment{
	margin-left: 40px;
	border-bottom: 1px red solid}



#header{
	height: 50px;
	font-family: Dosis;
	font-weight: bold;
	font-size: 1.5em}
#header a{
	color: #CCCCCC;
	text-decoration: underline;}
#header a:hover{
	color: #FFFFFF;
	text-decoration: none;}
#header a:visited{
	color: #CCCCCC;
	text-decoration: none;}



button {
	background-color:transparent;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:3px solid #CCCCCC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Dosis;
	font-size:15px;
	font-weight:bold;
	padding:6px 23px;
	text-decoration:none;
}
button:hover {
	color:red;
	border-color: #566963;
}
button:active {
	position:relative;
	top:1px;
}




#login {
	height: 600px;
	width: 370px;
	margin-left: auto;
	margin-right: auto;
	top: 50%;}

#hometitle{
	font-family: 'Dosis', sans-serif;
	font-size: 60px;
	font-weight: bold;}



#backg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  opacity: .4}

#backg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;}


.login { 
	width: 375px;
	height:200px;}

.inputbox { 
  border: none;
  outline: none;
	width: 350px; 
	margin-bottom: 10px; 
	padding: 10px;
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,.5);
	border-radius: 10px;}

#loginform{
	background-color: transparent;
	position: absolute;
	top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;}



	canvas {
  display: block;
   -moz-opacity:0.2; /* For older FF versions */
   -khtml-opacity:0.2;
   opacity:0.2;
   filter:alpha(opacity=20);}