/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Dosis);

body {
	background-color: #222222;
	font-family: Dosis;
	color: #CCCCCC;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px}
#artimg img{
	margin-left: 5px}


div#comments{
	padding: 20px;
	background-color: rgba(0,0,0,.5);
	border-radius: 10px;
	width: 550px;
	text-align: left;}
#nameandtime{
	font-size: .80em;
	font-style: italic;
	line-height: .1;
	color: #CCCCCC}
#commenttext{
	padding-bottom: 10px;
	border-bottom: 1px red solid}



#subnameandtime{
	font-size: .80em;
	font-style: italic;
	line-height: .1;
	padding-top: 10px;
	color: #CCCCCC;
	margin-left: 40px}
#subcomment{
	margin-left: 40px;
	border-bottom: 1px red solid}



#header{
	background-color: rgba(0,0,0,.5);
	height: 70px;
	font-family: Dosis;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 5px}
#header a{
	color: #CCCCCC;
	text-decoration: underline;}
#header a:hover{
	color: #FFFFFF;
	text-decoration: none;}
#header a:visited{
	color: #CCCCCC;
	text-decoration: none;}



button {
	background-color:transparent;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:3px solid #CCCCCC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Dosis;
	font-size:15px;
	font-weight:bold;
	padding:6px 23px;
	text-decoration:none;}
button:hover {
	color:red;
	border-color: #566963;}
button:active {
	position:relative;
	top:1px;}




#login {
	height: 600px;
	width: 370px;
	margin-left: auto;
	margin-right: auto;
	top: 50%;}

#hometitle{
	font-family: 'Dosis', sans-serif;
	font-size: 60px;
	font-weight: bold;}



#backg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  opacity: .4}

#backg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;}


.login { 
	width: 375px;
	height:200px;}

.inputbox { 
  border: none;
  outline: none;
	width: 350px; 
	margin-bottom: 10px; 
	padding: 10px;
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,.5);
	border-radius: 10px;}

textarea { 
  border: none;
  outline: none;
	width: 530px; 
	margin-bottom: 10px; 
	padding: 10px;
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,.5);
	border-radius: 10px;}

#loginform{
	background-color: transparent;
	position: absolute;
	top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;}



canvas {
	display: block;
	-moz-opacity:0.2; /* For older FF versions */
	-khtml-opacity:0.2;
	opacity:0.2;
	filter:alpha(opacity=20);}







/* CODE FOR THE LOADING RING AND ENCOMPASING DIV */

#loading {  
	position:absolute;
	background-color: rgba(0,0,0,.9);
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999;}


div.wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 20%;
}

section {
    display: block;
    position: relative;
}

ul.rotate_wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    list-style: none;
}

ul.rotate_wrapper li.rotate_item {
    width: 100%;
    height: 100%;
    border-radius: 52px;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -o-border-radius: 52px;
    top: 0;
    left: 0;
    z-index: 99;
    text-indent: -9999px;
    display: block;
    position: absolute;
    border: none;
}
ul.rotate_wrapper li.rotate_item span {
    background: #FFFFFF;
    bottom: 0px;
    left: 50%;
    margin-left: -2px;
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

/* CSS3 Animations */
ul.rotate_wrapper li.rotate_item {
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-name:orbit;

    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;

    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    -o-animation-name:orbit;
}

ul.rotate_wrapper li.rotate_item {
    animation-duration:4s;
    -webkit-animation-duration:4s;
    -moz-animation-duration:4s;
    -o-animation-duration:4s;
}

.delay1 {
    animation-delay:0.2s;
    -moz-animation-delay:0.2s; /* Firefox */
    -webkit-animation-delay:0.2s; /* Safari and Chrome */
    -o-animation-delay:0.2s; /* Opera */
}

.delay2 {
    animation-delay:0.4s;
    -moz-animation-delay:0.4s; /* Firefox */
    -webkit-animation-delay:0.4s; /* Safari and Chrome */
    -o-animation-delay:0.4s; /* Opera */
}

.delay3 {
    animation-delay:0.6s;
    -moz-animation-delay:0.6s; /* Firefox */
    -webkit-animation-delay:0.6s; /* Safari and Chrome */
    -o-animation-delay:0.6s; /* Opera */
}

.delay4 {
    animation-delay:0.8s;
    -moz-animation-delay:0.8s; /* Firefox */
    -webkit-animation-delay:0.8s; /* Safari and Chrome */
    -o-animation-delay:0.8s; /* Opera */
}

@keyframes orbit {
    0% {
        transform:rotate(0deg);
        opacity: 1;
    }
    5% {
        transform:rotate(90deg);
        opacity: 1;
    }
    45% {
        transform:rotate(270deg);
        opacity: 1;
    }
    55% {
        transform:rotate(540deg);
        opacity: 1;
    }
    75% {
        transform:rotate(630deg);
        opacity: 1;
    }
    80% {
        transform:rotate(720deg);
        opacity: 0;
    }
    100% {
        transform:rotate(720deg);
        opacity: 0;
    }
}

@-webkit-keyframes orbit {
    0% {
        -webkit-transform:rotate(0deg);
        opacity: 1;
    }
    5% {
        -webkit-transform:rotate(90deg);
        opacity: 1;
    }
    45% {
        -webkit-transform:rotate(270deg);
        opacity: 1;
    }
    55% {
        -webkit-transform:rotate(540deg);
        opacity: 1;
    }
    75% {
        -webkit-transform:rotate(630deg);
        opacity: 1;
    }
    80% {
        -webkit-transform:rotate(720deg);
        opacity: 0;
    }
    100% {
        -webkit-transform:rotate(720deg);
        opacity: 0;
    }
}

@-moz-keyframes orbit {
    0% {
      -moz-transform:rotate(0deg);
        opacity: 1;
    }
    5% {
      -moz-transform:rotate(90deg);
        opacity: 1;
    }
    45% {
     -moz-transform:rotate(270deg);
        opacity: 1;
    }
    55% {
     -moz-transform:rotate(540deg);
        opacity: 1;
    }
    75% {
     -moz-transform:rotate(630deg);
        opacity: 1;
    }
    80% {
     -moz-transform:rotate(720deg);
        opacity: 0;
    }
    100% {
        -moz-transform:rotate(720deg);
        opacity: 0;
    }
}

@-o-keyframes orbit {
    0% {
        -o-transform:rotate(0deg);
        opacity: 1;
    }
    5% {
        -o-transform:rotate(90deg);
        opacity: 1;
    }
    45% {
        -o-transform:rotate(270deg);
        opacity: 1;
    }
    55% {
        -o-transform:rotate(540deg);
        opacity: 1;
    }
    75% {
        -o-transform:rotate(630deg);
        opacity: 1;
    }
    80% {
        -o-transform:rotate(720deg);
        opacity: 0;
    }
    100% {
        -o-transform:rotate(720deg);
        opacity: 0;
    }
}
