/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {background-color: #222222;
			font-family: Avenir;
			color: #CCCCCC;
			margin-left: 0px;
			margin-top: 0px}

#artimg img{margin-left: 5px}





div#comments{width: 600px;
						text-align: left;
						padding-bottom: 10px;}
#nameandtime{font-size: .70em;
						font-style: italic;
						line-height: .1;
						color: #CCCCCC}
#commenttext{padding-bottom: 10px;
						border-bottom: 1px red solid}
#subnameandtime{font-size: .70em;
							font-style: italic;
							line-height: .1;
							padding-top: 10px;
							color: #CCCCCC;
							margin-left: 40px}
#subcomment{margin-left: 40px;
						border-bottom: 1px red solid}




#header{height: 50px;
				font-family: Avenir;
				font-weight: bold;
				font-size: 1.5em}
#header a{color: #CCCCCC;
				text-decoration: none;}
#header a:hover{color: #FFFFFF;
				text-decoration: none;}
#header a:visited{color: #CCCCCC;
				text-decoration: none;}




#logout, #submit, #showsub {
	background-color:transparent;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:3px solid #CCCCCC;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Avenir;
	font-size:15px;
	font-weight:bold;
	padding:6px 23px;
	text-decoration:none;
}
#logout:hover, #submit:hover, #showsub:hover {
	color:red;
	border-color: #566963;
}
#logout:active, #submit:active, #showsub:active {
	position:relative;
	top:1px;
}
